
    <div class="navi" style="z-index: 2; position: fixed; width: 100%;">
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark pad ">
            <div class="container-fluid">
                <a class="navbar-brand h1" style="padding-left: 20px; font-family: 'Pacifico', cursive; font-size: 25px;" href="#">Hunger Soul</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
            </div>
            <div class="container fluid"><h3 style="color: white; font-size: 21px; padding-left:135px;">NGO-A - Admin Portal</h3></div>
            <div class="container fluid">
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav  mb-2 mb-lg-0 ms-auto">
                        <li class="nav-item">
                            <a class="nav-link active " aria-current="page" href="">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active " aria-current="page" href="/">Logout</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>


